.social{
    box-sizing: border-box;
    padding-right: 1vw;
    display: flex;
    width: 3vw;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 90vh;
}

.link{
    margin: 1vh 0;
}

@media screen and (max-width: 1000px){
    .social{
        min-width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 5vh;
        max-height: 5vh;
    }
    .link{
        min-width: 5%;
        margin: 0 5vw;
    }
}